.container {
  text-align: center;
  color: white;
  background-color: rgb(36, 34, 34);
}

ul {
  list-style-type: none;
  margin-left: 25px;
  padding: 0;
}

.nav {
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
}

.projects {
  background-color: rgb(113, 129, 118);
}

a:link {
  color: white;
}

/* visited link */

a:visited {
  color: white;
}
h4 {
  color: lightgreen;
}
h5 {
  color: lightgreen;
}
