.container {
    text-align: center;
    color: white;
    background-color: black;
}

.nav {
    text-align: left;
}
.projects {
    background-color: rgb(8, 65, 25);
}
a:link {
    color: red;
  }
  
  /* visited link */
  a:visited {
    color: white;
  }