.container {
  text-align: center;
  color: white;
  background-color: black;
}

ul {
  list-style-type: none;
  margin-left: 25px;
  padding: 0;
  text-align: left;
}

.nav {
  text-align: left;
}

.projects {
  background-color: rgb(113, 129, 118);
}

a:link {
  color: red;
}

/* visited link */

a:visited {
  color: white;
}
